h1 {
    color:red;
    text-shadow: 2px 2px 2px red;
}
.title {
    color: rgb(0, 26, 255);
    }
#itallic{
    color: rgb(60, 82, 179);
}

nav {
background-color: aqua;
text-align: center;
}
.nav-wrapper {
    background-color: rosybrown;
}
a {
    text-decoration-line: none;
}
nav ul {
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 30px;
}
.container{
    border: 5px dashed rgb(0, 0, 0);
    margin: 5px ;
    padding: 30px;
    text-align: center;
}
.box{
    height: 300px;
    width: 300px;
    background:rgb(78, 78, 182);
    margin: 10px;
}
 .wrapper {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(5, [col] 200px ) ;
          grid-template-rows: repeat(3, [row] auto  );
          background-color: #fff;
          color: #444;
      }
  
      .Box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
          z-index:10;
  
      }
  
      .a {
          grid-column: col / span  2;
          grid-row: row ;
          display: flex;
          justify-content: center;
      }
      .b {
          grid-column: col 4 / span  2 ;
          grid-row: row ;
          display: flex;
          justify-content: center;
      }
      .c {
          grid-column: col / span 5 ;
          grid-row: row 2 ;
          display: flex;
          justify-content: center;
      }
      .d {
          grid-column: col 1 / span  3 ;
          grid-row: row 3 ;
          display: flex;
          justify-content: center;
          background-image: linear-gradient(pink,yellow,purple,orange);
      }
  
      .e {
          grid-column: col 3 / span  3;
          grid-row: row 3;
          display: flex;
          justify-content: center;
      }
  
      .f {
          grid-column: col 2 / span 3;
          grid-row: row 2  ;
          background-color: rgba(49,121,207, 0.5);
          z-index: 20;
          display: flex;
          justify-content: center;
          background-image: linear-gradient(orange,purple,yellow,pink);
      }
@keyframes fadeMe {
 0% {
     opacity: 1;
 }
 100% {
     opacity: 0;
 }
}

#box1{
    animation-name: fadeMe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
   0% {transform: rotate(0deg);}
   50% {transform: rotate(180deg);}
   100% {transform: rotate(360deg);}
}
#box2{
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple,orange,yellow,pink,purple);
}
@keyframes getBigger {
    0% {transform: scale(1)};
    50% {transform: scale(2)};
    100% {transform: scale(0.5)};
}
#box3 {
    animation: getBigger 3s 8s ease-in;
    border-radius: 50%;
    background: orange;
}
@keyframes changeColors {
    0% {background-color: orange;}
    25% {background-color:violet;}
    50% {background-color:purple;}
    75% {background-color:pink;}
    100% {background-color: orange;}
}
#box4 {
    animation: changeColors 3s infinite;
}
@keyframes moveBox {
    0% {left:0px; top: 0px;}
    25% {left:100px; top: 0px;}
    50% {left:100px; top: 200px;}
    75% {left:0px; top: 200px;}
    100% {left:0px; top: 0px;}
}
#box5 {
    position: relative;
    animation: moveBox 5s infinite;
    background: red;
}
#box6 {
    top: 100px;
    left: 200px;
    position: relative;
}
form input, textarea, button{
    display: block;
    margin: 30px;
}
.circle-img {
    border-radius: 20%;
}
/* img {
    box-shadow: 10px 10px 10px 10px rgb(238, 186, 238) ;
} */
.flex{
    border: 3px solid black;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    }
.contact-box {
    display: flex;
    justify-content: center;
}
.row {
    margin: 30px;
}
.input-field {
    margin: 20px;
}